/*selector de ID*/
#tituloPrincipal{
    color:aqua;
    font-size: 50px;
}
.parrafoNegrita{
    font-weight: bold;
    color: blueviolet;   
}
.parrafoEsopecial{
    font-family: Comic Sans MS;
}
.prioridad{
    color:red;
}
.prioridad1{
    color:aquamarine;
}
.prioridad2{
    color:coral;
}
p{
    word-spacing: 8px;
}